---
layout: default
title: home
sidebar: true
--- 

<div class="row">

  
    <article class="columns small-12 large-offset-1 large-10 comic-page">

		{% for post in site.posts limit:1 %}
		  {{ post.content }}
		{% endfor %}
	      
	  </article>

  <nav class="comic-nav">
	<nav class="small-4 large-4 columns previous-comic">
	  {% for post in site.posts limit:1 offset:1 %}
	    <a href="{{ site.baseurl }}{{ post.url }}" class="icon-backward-triangle"><!-- Previous --></a>
	  {% endfor %}
	</nav>
	<nav class="small-4 large-4 columns first-comic">
	  <a href="{{ site.baseurl }}{{ site.posts.last.url }}" class="icon-circle"><!-- First --></a>
	</nav>    
	<nav class="small-4 large-4 columns comic-next">
	  <a href="{{ site.url }}{{ site.archurl }}" class="icon-square"><!-- Archive --></a>
	</nav>
  </nav>


</div>

<script>
	// Grab as much info as possible 
	// outside the scroll handler for performace reasons.
	function getOffsetTop(element) {
	    var yPosition = 0;

	    while(element) {
	        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
	        element = element.offsetParent;
	    }

	    return yPosition;
	}

	function fadeInCNav(a){
	  	setTimeout(a[0].classList.add(fup),0);
	  	setTimeout(a[1].classList.add(fup),500);
	  	if(a[2])
	  		setTimeout(a[2].classList.add(fup),1000);
	}
	
	var c_nav        = document.querySelectorAll('.comic-nav > nav > a'),
	    c_nav_height = getOffsetTop(c_nav[0]) + parseInt(getComputedStyle(c_nav[0]).height),	
	    fup 		 = 'fadeInUp';


	if( window.pageYOffset + window.innerHeight > (c_nav_height)) {
		fadeInCNav(c_nav);
	}

	function stickyScroll(e) {
	  if( window.pageYOffset + window.innerHeight > (c_nav_height)) {
	  	fadeInCNav(c_nav);
	  }
	}

	// Scroll handler to toggle classes.
	window.addEventListener('scroll', stickyScroll, false);

</script>
