---
layout: default
title: home
sidebar: true
--- 

<div class="row">

  
    <article class="columns small-12 large-offset-1 large-10 comic-page">

		{% for post in site.posts limit:1 %}
		  {{ post.content }}
		{% endfor %}
	      
	  </article>

  <nav class="comic-nav">
	<nav class="previous-comic">
	  {% for post in site.posts limit:1 offset:1 %}
	    <a href="{{ site.baseurl }}{{ post.url }}" class="icon-backward-triangle"><!-- Previous --></a>
	  {% endfor %}
	</nav>
	<nav class="first-comic">
	  <a href="{{ site.baseurl }}{{ site.posts.last.url }}" class="icon-circle"><!-- First --></a>
	</nav>    
	<nav class="comic-next">
	  <a href="{{ site.url }}{{ site.archurl }}" class="icon-square"><!-- Archive --></a>
	</nav>
  </nav>


</div>

<script>
	// Grab as much info as possible 
	// outside the scroll handler for performace reasons.
	var c_nav             = document.querySelectorAll('.comic-nav > nav > a'),
	    c_nav_height      = c_nav[0].offsetTop + parseInt(getComputedStyle(c_nav[0]).height),	
	    fup          = 'fadeInUp';

	function fadeInCNav(){
	  	
	  	setTimeout(c_nav[0].classList.add(fup),0);
	  	setTimeout(c_nav[1].classList.add(fup),500);
	  	if(c_nav[2])
	  		setTimeout(c_nav[2].classList.add(fup),1000);
	}

	if( window.pageYOffset + window.innerHeight > (c_nav_height)) {
		fadeInCNav();
	}

	function stickyScroll(e) {
	  if( window.pageYOffset + window.innerHeight > (c_nav_height)) {
	  	fadeInCNav();
	  }
	}

// Scroll handler to toggle classes.
window.addEventListener('scroll', stickyScroll, false);

</script>
