@font-face {
	font-family: 'IcoMoon-Free';
	src: url("../fonts/IcoMoon/Font/IcoMoon-Free.ttf");
}


// Base styling for all icons
[class^="icon-"], [class*=" icon-"] {
	font-family: 'IcoMoon-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;

	font-variant: normal;
	text-transform: none;
	font-size: $socials-font-size;
	line-height: $navbar-height;
	color: $socials-font-color;
	padding: 0 10px;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Base styling for social icons
.icon-googleplus:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\ea8c";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-feed:before {
	content: "\e603";
}

.icon-tumblr:before {
	content: "\eabb";
}


// Styles for comic-nav
.icon-square:before{
	content:"\ea53";
}
.icon-circle:before{
	content: "\ea56";
}

.icon-forward-triangle:before{
	content: "\ea1c";
}

.icon-backward-triangle:before{
	content: "\ea1c";

	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	display: inline-block;
}


.icon-home:before {
	content: "\e609";
}

.icon-comixology:before {
	content: "\e60a";
}

.icon-amazon:before {
	content: "\e60b";
}

.icon-drivethru:before {
	content: "\e60c";
}

.icon-gumroad:before {
	content: "\e60d";
}

// Base styling for social icons with the :hover psuedoclass
[class^="icon-"].socials, [class*=" icon-"].socials:hover{
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Colors for individual icons with the :hover psuedoclass
.icon-googleplus:hover {
	color: #dd4b39;
}
.icon-facebook:hover {
	color: #3b5998;
}
.icon-twitter:hover {
	color: #4099FF;
}
.icon-feed:hover {
	color: #ff7900;
}
.icon-github:hover {
	color: #000;
}

.icon-home:hover {
	color: #888;
}

.icon-tumblr:hover {
	color: #32506d;
}

.icon-comixology:hover {
  color: #00b491;
}

.icon-amazon:hover {
  color: #e47911; 
}

.icon-drivethru:hover {
  color: #98b5dc;
}

.icon-gumroad:hover {
  color: #36a9ae; 
}

a:hover .icon-arrow-down{
  color: $comic-nav-hover;
}

a:hover .icon-arrow-right{
  color: $comic-nav-hover;
}
