.columns.comic-page {
  padding: 0px;
}


.comic-page {
  // borderline: solid $comic-border-color $comic-border-width;
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
  margin-bottom:5em;
}

.comic-nav {
  // background-color: $comic-nav-background;
  // line-height: $comic-nav-height;
  display: table;
  width: 100%;
  
    nav{
      text-align: center;
      margin:0;
      display: inline-block;
      // width: 33.3333
    }

    a {
      color: #333;
      background: cadetblue;
      border-radius: 50%;
      font-size: 2.5em;
      line-height: 2.5em;
      text-transform: uppercase;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

      
      display: inline-block;
      height: 2.5em;
      width: 2.5em;
      text-align: center;

      // To fade color on hover
      transition: color 0.2s ease-in 0s, border-top-color 0.2s ease-in 0s;

      // For fade in animations
      opacity: 0;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
    a:hover {
      color: $comic-nav-hover;
      text-decoration: none;
    }

    nav>a>span[class^="icon-"], div[span*=" icon-"] {
      line-height: 30px;
      font-size: 1em;
    }
   
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


// Archive link when on first page of comic
.first-archive {
  float: left;
}

// Next page link when on first page of comic
.first-next {
  float: right;
}

// Styling for mobile devices
@media screen and (max-width: 768px) {
  .comic-nav{
    font-size: 2em;
  }

.comic-nav a {
      font-size: 1em;
      line-height: 2em;
      height: 2em;
      width: 2em;
      box-shadow: none;
  }
  .comic-page {
    borderline: solid $comic-border-color $comic-border-width;
    box-shadow: none;
  }
}

// Comic Archive Page
.blog-archives figure {
  border: solid;
  border-color: $archive-border-color;
  border-width: $archive-border-width;

    &:hover {
      border-color: $archive-hover-color; 
    }
  
    & figcaption {
      background-color: $figcaption-background-color;
      color: $figcaption-text-color;
      text-transform: uppercase;
    }
}