---
layout: default
---
<div class="row">


	<article class="columns small-12 large-offset-1 large-10 comic-page">
		{{ content }}
    </article>

	<div class="row">	
		      <nav class="comic-nav">
				{% if site.posts.last.url == page.url %}
				  <nav class="first-archive">
			      	<a href="{{ site.url }}{{ page.categories }}" class="icon-square"><!-- Archive --></a>
				  </nav>
				  <nav class="first-next">
			      	<a href="{{ site.baseurl }}{{page.next.url}}" class="icon-forward-triangle"><!-- Next --></a>
				  </nav>

				{% elsif site.posts.last.url != page.url %}
				  {% if page.previous.url %}      
				    <nav class="previous-comic">
				      <a href="{{ site.baseurl }}{{ page.previous.url }}" class="icon-backward-triangle"><!-- Previous --></a>
				    </nav>
				{% endif %}	

			  <nav class="first-comic">
			    <a href="{{ site.baseurl }}{{ site.posts.last.url }}" class="icon-circle"><!-- First --></a>
			  </nav>   

			  {% if page.next.url %}
			    <nav class="comic-next">
			      <a href="{{ site.baseurl }}{{page.next.url}}" class="icon-forward-triangle"><!-- Next --></a>
			    </nav>
			    {% else %}
			    <nav class="comic-next">
			      <a href="{{ site.url }}{{ page.categories }}" class="icon-square"><!-- Archive --></a>
			    </nav>
			  {% endif %}	
			{% endif %}	
	      </nav>
  </div>

</div>
