---
layout: default
---
<div class="row">


	<article class="columns small-12 large-offset-1 large-10 comic-page">
		{{ content }}
    </article>

	<div class="row">	
		      <nav class="comic-nav">
				{% if site.posts.last.url == page.url %}
				  <nav class="small-4 large-4 columns first-archive">
			      	<a href="{{ site.url }}{{ page.categories }}" class="icon-square"><!-- Archive --></a>
				  </nav>
				  <nav class="small-4 large-4 columns first-next">
			      	<a href="{{ site.baseurl }}{{page.next.url}}" class="icon-forward-triangle"><!-- Next --></a>
				  </nav>

				{% elsif site.posts.last.url != page.url %}
				  {% if page.previous.url %}      
				    <nav class="small-4 large-4 columns previous-comic">
				      <a href="{{ site.baseurl }}{{ page.previous.url }}" class="icon-backward-triangle"><!-- Previous --></a>
				    </nav>
				{% endif %}	

			  <nav class="small-4 large-4 columns first-comic">
			    <a href="{{ site.baseurl }}{{ site.posts.last.url }}" class="icon-circle"><!-- First --></a>
			  </nav>   

			  {% if page.next.url %}
			    <nav class="small-4 large-4 columns comic-next">
			      <a href="{{ site.baseurl }}{{page.next.url}}" class="icon-forward-triangle"><!-- Next --></a>
			    </nav>
			    {% else %}
			    <nav class="small-4 large-4 columns comic-next">
			      <a href="{{ site.url }}{{ page.categories }}" class="icon-square"><!-- Archive --></a>
			    </nav>
			  {% endif %}	
			{% endif %}	
	      </nav>
  </div>

</div>

<script>
	// Grab as much info as possible 
	// outside the scroll handler for performace reasons.
	function getOffsetTop(element) {
	    var yPosition = 0;

	    while(element) {
	        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
	        element = element.offsetParent;
	    }

	    return yPosition;
	}

	function fadeInCNav(a){
	  	setTimeout(a[0].classList.add(fup),0);
	  	setTimeout(a[1].classList.add(fup),500);
	  	if(a[2])
	  		setTimeout(a[2].classList.add(fup),1000);
	}
	
	var c_nav        = document.querySelectorAll('.comic-nav > nav > a'),
	    c_nav_height = getOffsetTop(c_nav[0]) + parseInt(getComputedStyle(c_nav[0]).height),	
	    fup 		 = 'fadeInUp';


	if( window.pageYOffset + window.innerHeight > (c_nav_height)) {
		fadeInCNav(c_nav);
	}

	function stickyScroll(e) {
	  if( window.pageYOffset + window.innerHeight > (c_nav_height)) {
	  	fadeInCNav(c_nav);
	  }
	}

	// Scroll handler to toggle classes.
	window.addEventListener('scroll', stickyScroll, false);

</script>
